<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<h1 class='highlight'>
		<%= link_to current_client.name, client_path(current_client) %>
  	<span class="glyphicon" style=" color: <%= current_client.glyph_color %>;	"><%= raw current_client.glyph_id %></span>
  </h1>
  <h2 class='highlight'><%= link_to current_project.name, client_project_path(current_client, current_project) %></h2>
	<div class='item-box'>	
	<%= render partial: 'shared/tasks',
    locals: {
      tasks: @tasks,
      include_glyph: false
    } %>
  <h3>
    <%= link_to '+ Add New Task', new_project_task_path(current_project), class: 'add-new' %>
  </h3>
  </div>
  <%= render 'shared/back' %>
</div>