<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<h1 class='highlight'><%= link_to current_client.name, client_path(current_client) %></h1>
	<h2 class='highlight'><%= link_to current_project.name, client_project_path(current_client, current_project) %></h2>
	<h2>New Task</h2>
	<%= simple_form_for @task, :url => project_tasks_path(current_project) do |f| %>
		<%= f.input :name, label: false, placeholder: 'Task Name' %>
		<%= link_to 'Back', :back, :class => 'btn btn-primary' %>
		<%= f.submit 'Save', :class => 'btn btn-primary' %>
	<% end %>
</div>