<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<h1><%= @task.name %><span class='h1-small'> : <%= link_to current_client.name, client_projects_path(current_client) %> : <%= link_to current_project.name, project_tasks_path(current_project) %></span></h1>
	<ul>
		<li>Task Name:<%= @task.name %></li>
	</ul>
	<%= link_to 'Back', :back, :class => 'btn btn-primary' %>
	<%= link_to 'Edit', edit_project_task_path(current_project, @task), :class => 'btn btn-primary' %>
	<%= link_to 'New Task', new_project_task_path(current_project), :class => 'btn btn-primary' %>
	<%= link_to 'Tasks', project_tasks_path(current_project), :class => 'btn btn-primary' %>
	<%= link_to 'Start Task', '#', :id => 'start', :class => 'btn btn-primary', 'data-create-url' => task_events_path(@task) %>
	
</div>

<div class='timer-box col-xs-6 col-xs-offset-3'>
	<div class='inner-box'>
		<div class='pause'>
			<%= link_to 'Pause', '#' %>
		</div>
		<div id='time' class='time center'>
			0:00:00
		</div>
		<div class='stop'>
			<%= link_to 'Stop', '#', :id => 'stop', 'data-update-url' => '', :remote => true %>
		</div>
	</div>
</div>
<script>

	var startElement = $('#start');
	var stopElement = $('#stop');
	var timeElement = $('#time');
	var elapsedTime = 0;

	function showTime(startTime) {
			var time = Math.floor(Date.now()/1000);
			elapsedTime = (time - startTime);
			stopElement.data('elapsedtime', elapsedTime);
			
			var h = Math.floor( elapsedTime/(60 * 60));
			elapsedTime -= (h * 60 * 60);
			var m = Math.floor( (elapsedTime)/(60));
			elapsedTime -= (m * 60);
			var s = Math.floor( elapsedTime );

			var timeString = h+':'+m+':'+s;
			timeElement.innerHTML = timeString;
	    t = setTimeout(function () {
	        showTime(startTime)
	    }, 500);
	}

	startElement.click(function( e ) {
		$('.timer-box').addClass('active');
		var startTime = Math.floor(Date.now()/1000);
		showTime(startTime);
	  $.ajax({
		          type: 'POST',
		          url: startElement.data('create-url'),
		          dataType: 'json',
		          data: { event: { start_time: startTime, name: (new Date().toJSON().slice(0,10) ) } },
		          success: function(data) { 
		          	stopElement.data('update-url', data.update_url);}
		        });
	});

	stopElement.click(function( e ) {
		e.preventDefault()
		var endTime = Math.floor(Date.now()/1000);
		$.ajax({
		          type: 'PUT',
		          url: stopElement.data('update-url'),
		          dataType: 'json',
		          data: { event: { end_time: endTime, duration: elapsedTime } }
		        });

	});

</script>
