<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<h1 class='highlight'><%= link_to current_client.name, client_path(current_client) %></h1>
	<h2 class='highlight'><%= link_to current_project.name, project_tasks_path(current_project) %></h2>
	<h2 class='highlight'><%= link_to @task.name, task_events_path(@task) %></h2>
	<h2>New event name <input id='name' name='name' type='text' value="<%= time_to_string(Time.new) %>"/>	</h2>
	
	<%= link_to 'Back', :back, :class => 'btn btn-primary' %>
	<%= link_to 'Edit', edit_project_task_path(current_project, @task), :class => 'btn btn-primary' %>
	<%= link_to 'New Task', new_project_task_path(current_project), :class => 'btn btn-primary' %>
	<%= link_to 'Tasks', project_tasks_path(current_project), :class => 'btn btn-primary' %>
	<%= link_to 'Events', task_events_path(@task), :class => 'btn btn-primary' %>
	<%= link_to 'Start Task', '#', :id => 'start', :class => 'btn btn-primary', 'data-create-url' => task_events_path(@task) %>
	
</div>

<div class='clr'></div>

<div class='timer-box active'>
	<div class='inner-box'>
		<div class='pause'>
			<%= link_to '#', :id => 'pause', 'data-update-url' => '', :remote => true do %>
			    <span class="glyphicon glyphicon-pause"></span>
			<% end %>
		</div>
		<div id='time' class='time center'>
			0:00:00
		</div>
		<div class='stop'>
			<%= link_to '#', :id => 'stop', 'data-update-url' => '', :remote => true do %>
			    <i class="glyphicon glyphicon-stop"></i>
			<% end %>
			
		</div>
		<div>
			<%= @event.name %>
		</div>
	</div>
</div>

