<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<h1><%= @task.name %><span class='h1-small'> : <%= link_to current_client.name, client_projects_path(current_client) %> : <%= link_to current_project.name, project_tasks_path(current_project) %></span></h1>
	<ul>
		<li>Task Name:<%= @task.name %></li>
	</ul>
	<%= link_to 'Back', :back, :class => 'btn btn-primary' %>
	<%= link_to 'Edit', edit_project_task_path(current_project, @task), :class => 'btn btn-primary' %>
	<%= link_to 'New Task', new_project_task_path(current_project), :class => 'btn btn-primary' %>
	<%= link_to 'Tasks', project_tasks_path(current_project), :class => 'btn btn-primary' %>
	<%= link_to 'Start Task', '#', :id => 'start-task', :class => 'btn btn-primary', 'data-starttime' => '0' %>
	
</div>


+	<%= link_to 'Start Task', '#', :id => 'start-task', :class => 'btn btn-primary', 'data-starttime' => '0' %>
+	
+</div>
+
+<script>
+	$( "#start-task" ).click(function( e ) {
+	  this.dataset.starttime = Date.now();
+	});
+</script>