<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<h1 class='highlight'>New Client</h1>
	<%= simple_form_for @client, :url => clients_path do |f| %>
		<%= f.input :name, label: false, placeholder: 'Client Name' %>
		<%= f.input :contact_name, label: false, placeholder: 'Contact Name' %>
		<%= f.input :contact_title, label: false, placeholder: 'Contact Title' %>
		<%= f.input :contact_email, label: false, placeholder: 'Contact Email' %>
		<%= f.input :contact_phone, label: false, placeholder: 'Contact Phone' %>
		<%= link_to 'Back', :back, :class => 'btn btn-primary' %>
		<%= f.submit 'Save', :class => 'btn btn-primary' %>
	<% end %>
</div>