<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<% if current_user %>
		<div class='col-xs-12 col-sm-6'>
			<h1><%= link_to 'Clients', clients_path, :class => 'nav-link' %></h1>
			<%= render partial: 'shared/clients',
				locals: {
					clients: @clients
				} %>
		</div>
		<div class='col-xs-12 col-sm-6'>
			<h1><%= link_to 'Projects', user_projects_path(current_user), :class => 'nav-link ' %></h1>
			<%= render partial: 'shared/projects',
			  locals: {
			    projects: @projects
			  } %>
		</div>
		<div class='clr'></div>
		<div class='col-xs-12 col-sm-6'>
			<h1><%= link_to 'Tasks', user_tasks_path(current_user), :class => 'nav-link ' %></h1>
			<%= render partial: 'shared/tasks',
				locals: {
					tasks: @tasks
				} %>
		</div>
		<div class='col-xs-12 col-sm-6'>
			<h1><%= link_to 'Reports', reports_path, :class => 'nav-link ' %></h1>
			<%= render partial: 'shared/reports',
				locals: {
					reports: @reports
				} %>
		</div>
		<div class='clr'></div>
<!-- 		<div class='col-xs-12 col-sm-4'>
			<h1 class='nav-link'>Favorites</h1>
			<h3 class='highlight'>Drag Favorites Here</h3>
		</div> -->
		
	<% else %>
		<%= link_to 'Sign In', new_user_session_path, :class => 'nav-link vert-list' %><br />
		<%= link_to 'Sign Up', new_user_registration_path, :class => 'nav-link vert-list' %>
	<% end %>
</div>