<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<h1 class='highlight'>My Clients</h1>
	<% @clients.each do |client| %>
		<div class='item-box'>	
			<h3>
        <span class="glyphicon" style=" color: <%= client.glyph_color %>;  "><%= raw client.glyph_id %></span>
        <%= link_to client.name, client_path(client) %>
      </h3>
      <h3>
        <%= render  partial: 'shared/add', 
                    locals: {
                      path: new_user_client_collaboration_path(current_user, client),
                      item_to_add: 'Collaborator'
                    } %>
      </h3>
		</div>
	<% end %>	

  <h1 class='highlight'>My Collaborations</h1>
    <% @collaborations.each do |collaboration| %>
      <div class='item-box'>  
        <%= collaboration.client.name %> <%= link_to 'Delete', user_collaboration_path(current_user, collaboration), method: :delete, :class => 'btn-small btn-primary' %></h3>
      </div>
    <% end %> 

  <%= render 'shared/back' %>
</div>