<% user ||= @user %>
<li id='user<%= user.id %>' class='user'>
  <span class='toggle-children'>
    <input type='checkbox' ng-model='user<%= user.id %>' />
  </span>
  <span class='name'>&nbsp;<%= user.name %></span>
  <span class='description'>&nbsp;</span>
  <span class='duration'>&nbsp;</span>
  <span class='amount'>&nbsp;</span>
  <span class='subtotal'>&nbsp;</span>
</li>
<ul ng-show='user<%= user.id %>'>
  <% user.clients.each do |client| %>
    <%= render partial: 'report_client', 
    locals: { client: client } %>
  <% end %>
</ul>