<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<div class='col-xs-12 col-md-6'>
		<h1 class='highlight'>Reports</h1>
		<% @reports.each do |report| %>
			<h3 class='highlight'>
				<%= link_to report.name, report_path( report ), :class => 'nav-link vert-list' %>
			</h3>
		<% end %>
	</div>

	<div class='col-xs-12 col-md-6'>
		<h1 class='highlight'>New Report</h1>
		<input type='date' name='start_date' value='<%= time_to_html_value(Time.now-30*24*60*60) %>' />
		<input type='date' name='end_date' value='<%= time_to_html_value(Time.now) %>' />
		
		<h3>
			<select id='report-type' name='report-type'>
			<% report_options.each do |option| %>
				<option value='<%= option[1] %>' <%= raw option[2] %> ><%= option[0] %> Report</option>
			<% end %>
			</select>	
		</h3>
		<div id='clients-select-div' >
			<%= render 'clients_select' %>
		</div>
		<div id='projects-select-div'>
		</div>
		<div id='tasks-select-div'>
		</div>	
		
		<%= link_to 'Back', :back, :class => 'btn btn-primary' %>
		<%= link_to 'Generate Report', '#', :class => 'generate-report-link btn btn-primary' %>
	</div>
	
</div>
<script>
$(document).on('ready page:load', function() { 


	function generateReport() {
		var client_id = $('#clients-select').val();
		var project_id = $("#projects-select").val();
		var task_id = $('#tasks-select').val();
		var start_date = $("input[name='start_date']").val();
		var end_date = $("input[name='end_date']").val();

		$.ajax({
				type: 'get',
				url: 'reports',
				dataType: 'html',
				data: {
					client_id: client_id,
					project_id: project_id,
					task_id: task_id,
					start_date: start_date,
					end_date: end_date
				},
				success: function () {
					alert('success');
				}


		});

	}

	function getTaskSelect() {
		var project_id = $("#projects-select").val();
		$.ajax({
		          type: 'get',
		          url: 'reports',
		          dataType: 'html',
		          data: { project_id: project_id },
		          success: function(data) { 
		          	$('#tasks-select-div').html( data );}
		        });

	}

	function displayMenus( report_type ) {
		switch (report_type) {
			case 'user':
				$('#clients-select').hide();
				$('#projects-select-div').hide();
				$('#tasks-select-div').hide();
				break ;
			case 'client':
				$('#clients-select').show();
				$('#projects-select-div').hide();
				$('#tasks-select-div').hide();
				break;
			case 'project':
				$('#clients-select').show();
				$('#projects-select-div').show();
				$('#tasks-select-div').hide();
				break;
			case 'task':
				$('#clients-select').show();
				$('#projects-select-div').show();
				$('#tasks-select-div').show();
				break;
		};

	}

	displayMenus( $('#report-type').val() )

	$('#report-type').change( function () {
		displayMenus ( $('#report-type').val() );
	});

	$('#clients-select').change( function () {
		var client_id = $("#clients-select").val();
		$.ajax({
		          type: 'get',
		          url: 'reports',
		          dataType: 'html',
		          data: { client_id: client_id },
		          success: function(data) { 
		          	$('#projects-select-div').html( data );
		          	$('#projects-select').change( getTaskSelect )
		          }
		      });

	});

	$('.generate-report-link').click( generateReport );

});


</script>