<div class='float-box col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2'>
	<div class='col-xs-12 col-md-6'>
		<h1 class='highlight'>Reports</h1>
		<% @reports.each do |report| %>
			<h3 class='highlight'>
				<%= link_to report.name, report_path( report ), :class => 'nav-link vert-list' %>
			</h3>
		<% end %>
	</div>

	<div class='col-xs-12 col-md-6'>
		<h1 class='highlight'>New Report</h1>
		<input type='date' name='start_date' value='<%= time_to_html_value(Time.now-30*24*60*60) %>' />
		<input type='date' name='end_date' value='<%= time_to_html_value(Time.now) %>' />
		
		
		<div id='clients-select-div' >
			<%= render 'clients_select' %>
		</div>
		<div id='projects-select-div'>
		</div>
		<div id='tasks-select-div'>
		</div>	
		<%= link_to 'Back', :back, :class => 'btn btn-primary' %><br />
		<h3 class='highlight'>Generate Report</h3>
		<% report_options.each do |option| %>
			<%= link_to "#{option[0]}", '#', :id => "#{option[1]}-link", :class => 'btn btn-primary' %>
		<% end %>
	</div>
	
</div>
<script>
$(document).on('ready page:load', function() { 

var start_date, end_date;

	function updateVariables() {
		start_date = $("input[name='start_date']").val();
		end_date = $("input[name='end_date']").val();
	}

	function sendAJAX( type, id, name ) {
		$.ajax({
				type: 'post',
				url: 'reports',
				dataType: 'json',
				data: {
					name: name,
					reportable_type: type,
					reportable_id: id,
					start_date: start_date,
					end_date: end_date
				},
				success: function(data) {
					console.log(data)
					console.log(data['redirect_url'])
					window.location.href = data['redirect_url'];
				}


		});

	}

	function getName(type_string) {
		return_string = type_string+" report: "+start_date+" to "+end_date;
		return return_string
	}

	function getTaskSelect() {
		var project_id = $("#projects-select").val();
		$.ajax({
		          type: 'get',
		          url: 'reports',
		          dataType: 'html',
		          data: { project_id: project_id },
		          success: function(data) { 
		          	$('#tasks-select-div').html( data );}
		        });
	}

	$('#clients-select').change( function () {
		var client_id = $("#clients-select").val();
		$.ajax({
		          type: 'get',
		          url: 'reports',
		          dataType: 'html',
		          data: { client_id: client_id },
		          success: function(data) { 
		          	$('#projects-select-div').html( data );
		          	$('#tasks-select-div').html("");
		          	$('#projects-select').change( getTaskSelect )
		          }
		      });

	});

	$('#client-link').click( function() {
		updateVariables();
		var name = getName('Client');
		var client_id = $('#clients-select').val();
		if (client_id) {
			sendAJAX( 'Client', client_id, name );
		}

	});

	$('#project-link').click( function() {
		updateVariables();
		var name = getName('Project');
		var project_id = $('#projects-select').val();
		if (project_id) {
			sendAJAX( 'Project', project_id, name );
		}

	});	

	$('#task-link').click( function() {
		updateVariables();
		var name = getName('Task');
		var task_id = $('#tasks-select').val();
		if (task_id) {
			console.log('sendAJAX');
			sendAJAX( 'Task', task_id, name );
		}

	});	
	

});


</script>