<div class='float-box col-xs-10 col-xs-offset-1'>
  <h1 class='highlight'><%= link_to @report.name, report_path(@report) %></h1>
  <h3 class='highlight'>A <%= @report.reportable_type %> report for <%= @context.name %></h3>
  <table class="report-table">
    <tr class="report-header">
      <th class="Date">Date</th>
      <th class="Name">Name</th>
      <th class="Description">Description</th>
      <th class="Amount Billed">Billeable Amount</th>
      <th class="Duration">Duration</th>
    </tr>
    <% @context.events.each do |event| %>
      <% if !event.name.nil? %>
        <tr>
          <td>
            <%= timeUTC_to_date(event.start_time) %>
          </td>
          <td>
            <%= link_to event.name, task_event_path(event.task, event), target: '_blank' %><br />
          </td>
          <td>
            <%= event.description %><br />
          </td>
          <td>
            <%= number_to_currency(event.amount_billeable) %>
          </td>
          <td>
            <%= event.duration %><br />
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr class="report-totals">
      <td>Total</td>
      <td></td>
      <td></td>
      <td><%= number_to_currency(@report.total_billeable) %></td>
      <td><%= @report.total_duration %></td>
    </tr>
  </table>
</div>