<div class='float-box col-xs-10 col-xs-offset-1'>
  <h1><%= link_to @report.name, report_path(@report) %></h1>
  <h3 class='highlight'>A <%= @report.reportable_type %> report for <%= @context.name %></h3>
  <div class='col-xs-12 report'>
    <div ng-app=''>
      <ul>
        <li class='report-heading'>
          <span class='toggle-children'>+/-</span>
          <span class='name'>Name</span>
          <span class='description'>Description</span>
          <span class='duration'>Duration</span>
          <span class='amount'>Amount</span>
          <span class='subtotal'>Subtotal</span>
        </li>
        <% if @user.present? %>
          <%= render partial: 'report_user' %>
        <% elsif @client.present? %>
          <%= render partial: 'report_client' %>
        <% elsif @project.present? %>
          <%= render partial: 'report_project' %>
        <% elsif %>
          <%= render partial: 'report_task' %>
        <% end %>
      </ul>
    </div>
  </div>
</div>