<!DOCTYPE html>
<html>
<head>
  <title>Bottled</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header col-xs-6">
		      <%= link_to 'Bottled Time', root_path, :class => 'navbar-brand' %></a>
		    </div>
		    <div class='col-xs-6'>
		      <ul class="nav navbar-nav pull-right">
		      	<li><%= link_to 'Clients', clients_path %></li>
		        <% if current_user %>
		        	<li><%= link_to current_user.email, '#' %></li>
		        <% else %>
			        <li><%= link_to 'Sign Up', new_user_registration_path %></li> 
			      <% end %><% if current_user %>
		        	<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
		        <% else %>
			        <li><%= link_to 'Sign In', new_user_session_path %></li> 
			      <% end %>
		      </ul>
		    </div>
		  </div>
		</nav>
	<div class='container-fluid'>
	
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<%= yield %>
	</div>
</body>
</html>
